.single , .error404 {
    min-height: calc(100vh - 50px);
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.search-no-results{
    min-height: calc(100vh - 50px);
    display: grid;
    grid-template-rows: auto auto 1fr auto;
}